/* Datetime */
.vux-datetime-cancel {
    color: #EF6960!important;
}
.vux-datetime-confirm {
//    color: #4181F2!important;
}

/* PopupPicker */
.vux-popup-header-left {
    color: #EF6960!important;
}
.vux-popup-header-right {
//    color: #4181F2!important;
}

.weui-dialog {
    padding: 20px;
}

/* confirm */
.weui-dialog__btn_default {
    color: #7b7b7b!important;
}
.weui-dialog__btn_primary {
    // color: #4181F2!important;
}